@import "normalize.css";

@import "base.css";

@import "font.css";
/* @-> Author: Biz41  [ http://bizidea.co.th ] */
/* @-> Thanks bootstrap3 for inspiration & useful mixins :) */
.indent-hidding {
  text-indent: -9999px;
}
.indent10 {
  text-indent: 10px;
}
.indent15 {
  text-indent: 15px;
}
.indent20 {
  text-indent: 20px;
}
.indent25 {
  text-indent: 25px;
}
.none,
.hidden {
  display: none;
}
.overflow-hidden {
  overflow: hidden;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.pointer {
  cursor: pointer;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-just {
  text-align: justify;
}
.margin-auto {
  margin: 0 auto;
}
.margin0 {
  margin: 0;
}
.padding0 {
  padding: 0;
}
.border-none {
  border: 0;
}
.outline-none {
  outline: 0;
}
.background-none {
  background: 0;
}
.underline-none {
  text-decoration: none;
}
.ul-unstyle {
  list-style: none;
  margin: 0;
  padding: 0;
}
.opa09 {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.opa08 {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.opa07 {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.opa06 {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
*[class^="btn-"],
*[class^="ico-"] {
  position: relative;
  display: inline-block;
  border: 0;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
}
*[class^="ico-"] {
  text-indent: -9999px;
}
*[class^="btn-"] {
  cursor: pointer;
  text-decoration: none;
  padding: 0 10px;
}
button,
.btn-orange {
  border: 0;
  padding: 0 15px;
  color: #fff !important;
  height: 27px;
  line-height: 27px;
  border-radius: 3px;
  background: #aaaaaa;
  /* Old browsers */

  background: -moz-linear-gradient(top, #aaaaaa 0%, #898989 99%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aaaaaa), color-stop(99%, #898989));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #aaaaaa 0%, #898989 99%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #aaaaaa 0%, #898989 99%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #aaaaaa 0%, #898989 99%);
  /* IE10+ */

  background: linear-gradient(to bottom, #aaaaaa 0%, #898989 99%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaaaaa', endColorstr='#898989', GradientType=0);
  /* IE6-9 */

}
button:hover,
.btn-orange:hover,
button.active,
.btn-orange.active {
  background: #ff6600;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ff6600 0%, #f7941d 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff6600), color-stop(100%, #f7941d));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ff6600 0%, #f7941d 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ff6600 0%, #f7941d 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ff6600 0%, #f7941d 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ff6600 0%, #f7941d 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6600', endColorstr='#f7941d', GradientType=0);
  /* IE6-9 */

}
.ico-th {
  background-image: url(../img/icon/language.png);
  background-position: 0 0;
  width: 29px;
  height: 29px;
}
.ico-en {
  background-image: url(../img/icon/language.png);
  background-position: -29px 0;
  width: 29px;
  height: 29px;
}
.ico-ch {
  background-image: url(../img/icon/language.png);
  background-position: -58px 1px;
  width: 29px;
  height: 29px;
}
.ico-phone {
  background-image: url(../img/icon/phone.png);
  width: 15px;
  height: 21px;
}
.ico-pdf {
  background-image: url(../img/icon/pdf.png);
  width: 18px;
  height: 17px;
  top: 3px;
}
.ico-email {
  background-image: url(../img/icon/email.png);
  width: 22px;
  height: 15px;
}
.ico-bullet {
  background-image: url(../img/icon/bullet-orange.jpg);
  width: 3px;
  height: 3px;
}
.ico-more {
  background-image: url(../img/icon/more.png);
  width: 8px;
  height: 8px;
}
